<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kiwiandroiddev.gmailradiodriveextension.app">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.gm.permission.READ_CONTENT_PROVIDER" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_gmail"
        >

        <activity
            android:name=".GmailSettingsActivity"
            android:theme="@android:style/Theme.Holo"
            android:icon="@drawable/ic_gmail"
            android:label="@string/settings_activity_title"
            android:exported="true" />

        <service
            android:name="com.kiwiandroiddev.gmailradiodriveextension.app.GmailAnnouncement"
            android:permission="com.kiwiandroiddev.radiodrive.permission.READ_EXTENSION_DATA"
            android:exported="true"
            android:label="Gmail"
            android:icon="@drawable/ic_gmail">

            <meta-data android:name="betweenSongsSupport" android:value="true" />
            <meta-data android:name="realtimeSupport" android:value="false" />
            <meta-data android:name="defaultMinTime" android:value="0" />
            <meta-data android:name="defaultSongsBetween" android:value="1" />
            <meta-data android:name="description"
                android:value="@string/announcement_description" />

            <meta-data
                android:name="settingsActivity"
                android:value="com.kiwiandroiddev.gmailradiodriveextension.app.GmailSettingsActivity" />

            <intent-filter>
                <action android:name="com.kiwiandroiddev.radiodrive.Extension" />
            </intent-filter>

        </service>

    </application>

</manifest>
